<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div id="loginEmail">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input formControlNamne="email" matInput placeholder="you@email.com">
      <mat-error *ngIf="f.email.invalid">{{getEmailError()}}</mat-error>
      <div *ngIf="submitted && f.email.errors">
        <span *ngIf="f.email.errors.required">
          <mat-icon matSuffix>alert-circle-icon</mat-icon>
        </span>
      </div>
      <mat-hint>Email</mat-hint>
    </mat-form-field>
  </div>
  <div id="loginPassword">
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input formControlNamne="password" matInput placeholder="you@password.com">
      <mat-error *ngIf="f.password.invalid">{{getPasswordError()}}</mat-error>
      <div *ngIf="submitted && f.password.errors">
        <span *ngIf="f.password.errors.required">
          <mat-icon matSuffix>alert-circle-icon</mat-icon>
        </span>
      </div>
      <mat-hint>Password</mat-hint>
    </mat-form-field>
  </div>
  <div class="formActions">
    <button mat-raised-button color="accent" type="submit" [disabled]="loading">Login</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>