<form class="addBikeForm" [formGroup]="addBikeForm">
  <mat-dialog-content>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Brand">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Model">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Year">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Frame">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Suspension">
        <mat-option *ngFor="let suspension of suspensions" value="suspension.value">
          {{suspension.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Fork">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Shock">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Wheel size">
        <mat-option *ngFor="let size of wheelSizes" value="size.value">
          {{size.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Shifters">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Derailleur">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Cassette">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Brakes">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <input matInput placeholder="Tires">
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <textarea matInput placeholder="Additional components"></textarea>
    </mat-form-field>
    <mat-form-field class="addBikeInput">
      <textarea matInput placeholder="Planned upgrades"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button color="accent" type="submit">Submit</button>
  </mat-dialog-actions>
</form>