@import "src/theme.scss";
$primary: map-get($berm-theme, primary);
$accent: map-get($berm-theme, accent);

.aboutContainer {
  margin: 0;
  padding: 20px 20px;
  background-color: mat-color($primary, lighter);
  text-align: justify;
}
.aboutText {
  max-width: 600px;
  font-size: 14pt;
  margin: 0 auto;
}
.logoText {
  font-family: "Exo 2", sans-serif;
}
.authForm {
  width: 400px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}
.authFormWrapper {
  padding-top: 3em;
  height: 100%;
}
.authField {
  text-align: center;
}
.authFormActions {
  margin: auto;
  width: 204px;
  text-align: right;
}
.authCall {
  margin: 0 auto;
  padding-top: 1.5em;
  text-align: center;
  font-size: 10pt;
}
