<form class="addRideForm" [formGroup]="addRideForm">
  <mat-dialog-content>
    <mat-form-field class="addRideInput">
      <input matInput placeholder="Trail">
    </mat-form-field>
    <mat-form-field class="addRideInput">
      <input matInput placeholder="Location">
    </mat-form-field>
    <mat-form-field class="addRideInput">
      <input matInput placeholder="Bike">
    </mat-form-field>
    <mat-form-field class="addRideInput">
      <input matInput placeholder="Time">
    </mat-form-field>
    <mat-form-field class="addRideInput">
      <input matInput placeholder="Date">
    </mat-form-field>
    <mat-form-field class="addRideInput">
      <textarea matInput placeholder="Notes"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- add cancel 'x' to top left of box..-->
      <button mat-button color="accent" type="submit">Submit</button>
  </mat-dialog-actions>
</form>