@import "~@angular/material/theming";

@import "theme.scss";

@include mat-core();
@include angular-material-theme($berm-theme);

@import url("https://fonts.googleapis.com/css?family=Exo+2:600i|Lato");

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
