.logo-text {
  font-family: "Exo 2", sans-serif;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto [col-start]);
}
.card {
  width: 350px;
  height: 500px;
  place-self: center;
}
// .card-button-route {
//     position: absolute;
//     right: 10px;
//     bottom: 10px;
// }
button {
  color: #fff !important;
  font-size: 3em;
}
