<div class="cardContainer">
  <mat-card class="card">
    <mat-card-title>Rides</mat-card-title>
    <mat-card-content>Keep track of your rides and trail times. Log a new ride or update an existing one.</mat-card-content>
    <mat-card-actions>
      <button class="cardButtonRoute" mat-fab color="accent" routerLink="rides">+</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Trails</mat-card-title>
    <mat-card-content>Keep track of the trails you've ridden and the ones you want to ride.</mat-card-content>
    <mat-card-actions>
      <button class="cardButtonRoute" mat-fab color="accent" routerLink="trails">+</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Bikes</mat-card-title>
    <mat-card-content>A list of your bikes and your bikes' components. Store upgrades or build a dream bike here.</mat-card-content>
    <mat-card-actions>
      <button class="cardButtonRoute" mat-fab color="accent" routerLink="bikes">+</button>
    </mat-card-actions>
  </mat-card>
</div>